<content>
	<div class="sidebar">
		<div class="box">
			<div></div>
			<div>
				<div class="volume-knob">
					<div class="knob">
						<div class="inner">
							<span class="light"></span>
						</div>
					</div>
				</div>
			</div>
			<div>
				<h3>Progress</h3>
				<h2>47%</h2>
			</div>
		</div>
	</div>
	<div class="body">
		<div class="workarea">
			<div class="box waves">
				<div class="cvs-wrapper">
					
				</div>
				<div class="gutter-v">
					<div class="channel-btn left on">Left</div>
					<div class="channel-btn right on">Right</div>
					<div class="zoom-v">
						<span class="handle"></span>
					</div>
				</div>
				<div class="gutter-h">
					<div class="zoom-h">
						<span class="handle"></span>
					</div>
					<div class="scrollbar">
						<span class="handle"></span>
					</div>
				</div>
			</div>
			<div class="box speaker">
				
			</div>
		</div>
		<div class="dock">
			<div class="box"></div>
			<div class="box"></div>
		</div>
	</div>
</content>
