<content>
	<div class="sidebar">
		<div class="box">
			
			<div></div>

			<div>
				<div class="volume-knob">
					<div class="knob">
						<div class="inner">
							<span class="light"></span>
						</div>
					</div>
				</div>
			</div>

			<div>
				<h3>Progress</h3>
				<h2>47%</h2>
			</div>

		</div>
	</div>
	<div class="body">
		<div class="top">
			<div class="details"></div>
			<div class="slider"></div>
			<div class="slider"></div>
			<div class="slider"></div>
			<div class="slider">
				<span class="zoom">100%</span>
			</div>
			<div class="box"></div>
		</div>
		<div class="middle">
			<div class="box waves">
				<div class="cvs-full">
					<canvas></canvas>
					<div class="area"></div>
				</div>
				<div class="cvs-zoom">
					<canvas></canvas>
				</div>
			</div>
		</div>
		<div class="bottom">
			<div class="box"></div>
			<div class="box"></div>
			<div class="box"></div>
		</div>
	</div>
</content>
