<content class="show-blank-view show-sidebar show-dock dialog-showing">
	<!-- shown if no file is opened -->
	<div class="blank-view" data-area="blankView">
		<!-- blank view HTML goes here -->
	</div>

	<div class="workspace">
		<div class="sidebar" data-area="sidebar">
			<div class="box">
				<div class="txt-selection">
					<div class="title">Selection</div>
					<div>
						<span>Start</span>
						<span class="txt-sel-start">00:00.000</span>
					</div>
					<div>
						<span>End</span>
						<span class="txt-sel-end">00:00.000</span>
					</div>
					<div>
						<span>Duration</span>
						<span class="txt-sel-duration">00:00.000</span>
					</div>
				</div>
				<div class="volume-wrapper">
					<div class="volume-knob">
						<div class="knob">
							<div class="inner">
								<span class="light"></span>
							</div>
						</div>
					</div>
					<div class="txt-volume">
						<h3>Volume</h3>
						<h2>50</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="area">
			<div class="workarea">
				<div class="box waves" data-area="waves">
					<div class="cvs-wrapper">
						<div class="timeline"></div>
						<div class="files-wrapper">
							<div class="file"><!-- file/canvas wrapper --></div>
						</div>
					</div>
					<div class="gutter-v">
						<div class="btn-wrapper">
							<div class="channel-btn left on" data-click="toggle-channel">Left</div>
						</div>
						<div class="btn-wrapper">
							<div class="channel-btn right on" data-click="toggle-channel">Right</div>
						</div>
						<div class="zoom-v">
							<span class="handle"></span>
						</div>
						<i class="icon-reset" data-click="reset-zoom"></i>
					</div>
					<div class="gutter-h">
						<div class="zoom-h">
							<span class="handle"></span>
						</div>
						<div class="scrollbar">
							<span class="handle"></span>
						</div>
					</div>
				</div>
				<div class="box speaker" data-area="speaker">
					<div class="volume-bar left">
						<div class="volume"></div>
						<div class="peaker"></div>
					</div>
					<div class="volume-bar right">
						<div class="volume"></div>
						<div class="peaker"></div>
					</div>
					<div class="peaker-dash"></div>
					<div class="volume-markers"></div>
				</div>
			</div>
			<div class="dock">
				<div class="box on" data-area="frequency">
					<i class="icon-switch" data-click="toggle-analyser"></i>
					<div class="head">Frequency Analyser</div>
					<div class="body"></div>
				</div>
				<div class="box on" data-area="spectrum">
					<i class="icon-switch" data-click="toggle-analyser"></i>
					<div class="head">Spectrum Analyser</div>
					<div class="body"></div>
				</div>
			</div>
		</div>
	</div>

	@import "inline-dialogs.htm"

</content>
