
<div class="dialog-box" data-dlg="dlgGain">
	<div class="dlg-content">
		<h2>
			<i class="icon-dlg-close" data-click="dlg-close"></i>
			Apply Gain

			<div class="toggler" data-value="on" data-click="dlg-preview">
				<span>Preview</span>
			</div>
		</h2>
		<div class="dlg-body">
			<div class="field-range-h">
				<span class="label">Gain</span>
				<div class="slider"><span class="handle"></span></div>
				<span class="value"><input type="text" name="gain" data-min="10" data-max="200" data-suffix="%" data-default="100" data-change="set-gain"></span>
			</div>
		</div>
		<div class="buttons">
			<div class="button" data-click="dlg-ok">Apply</div>
			<div class="button" data-click="dlg-reset">Reset</div>
		</div>
	</div>
</div>

<div class="dialog-box" data-dlg="dlgNormalize">
	<div class="dlg-content">
		<h2>
			<i class="icon-dlg-close" data-click="dlg-close"></i>
			Normalize
		</h2>
		<div class="dlg-body">
			<div class="field-range-h">
				<span class="label">Normalize to</span>
				<div class="slider"><span class="handle"></span></div>
				<span class="value"><input type="text" name="normalize" data-min="0" data-max="200" data-suffix="%" data-default="100" data-change="set-normalize"></span>
			</div>
		</div>
		<div class="buttons">
			<div class="button" data-click="dlg-ok">Apply</div>
			<div class="button" data-click="dlg-reset">Reset</div>
		</div>
	</div>
</div>

<div class="dialog-box" data-dlg="dlgCompressor">
	<div class="dlg-content">
		<h2>
			<i class="icon-dlg-close" data-click="dlg-close"></i>
			Compressor

			<div class="toggler" data-value="on" data-click="dlg-preview">
				<span>Preview</span>
			</div>
		</h2>
		<div class="dlg-body">
			<div class="field-box">
				<span class="label">Threshold</span>
				<div class="knob"></div>
				<span class="value"><input type="text" name="threshold" data-min="-100" data-max="0" data-step="0.1" data-default="-24" data-change="set-threshold"></span>
			</div>
			
			<div class="field-box">
				<span class="label">Knee</span>
				<div class="knob"></div>
				<span class="value"><input type="text" name="knee" data-min="0" data-max="40" data-step="0.1" data-default="30" data-change="set-knee"></span>
			</div>
			
			<div class="field-box">
				<span class="label">Ratio</span>
				<div class="knob"></div>
				<span class="value"><input type="text" name="ratio" data-min="1" data-max="20" data-step="0.1" data-default="12" data-change="set-ratio"></span>
			</div>
			
			<div class="field-box">
				<span class="label">Attack</span>
				<div class="knob"></div>
				<span class="value"><input type="text" name="attack" data-min="0" data-max="1" data-step="0.01" data-default="0.01" data-change="set-attack"></span>
			</div>
			
			<div class="field-box">
				<span class="label">Release</span>
				<div class="knob"></div>
				<span class="value"><input type="text" name="release" data-min="0" data-max="1" data-step="0.01" data-default="0.25" data-change="set-release"></span>
			</div>
		</div>
		<div class="buttons">
			<div class="button" data-click="dlg-ok">Apply</div>
			<div class="button" data-click="dlg-reset">Reset</div>
		</div>
	</div>
</div>

<div class="dialog-box" data-dlg="dlgParagraphicEq">
	<div class="dlg-content">
		<h2>
			<i class="icon-dlg-close" data-click="dlg-close"></i>
			Paragraphic Equalizer

			<div class="toggler" data-value="on" data-click="dlg-preview">
				<span>Preview</span>
			</div>
		</h2>
		<div class="dlg-body">
			<div class="peq-cvs">
				<div class="gutter-vert"><ul>
					<li>28</li>
					<li>14</li>
					<li>0</li>
					<li>-14</li>
					<li>-28</li>
				</ul></div>
				<div class="gutter-hori"><ul>
					<li>20 Hz</li>
					<li>100 Hz</li>
					<li>200 Hz</li>
					<li>1 KHz</li>
					<li>2 KHz</li>
					<li>10 KHz</li>
					<li>20 KHz</li>
				</ul></div>
				<canvas></canvas>
				<div class="peq-dot-wrapper">
					<!-- peq-list dots goes here -->
				</div>
			</div>
			<div class="peq-list">
				<div class="list-row head">
					<div>Type</div>
					<div>Gain</div>
					<div>Freq</div>
					<div>Q</div>
					<div></div>
				</div>
				<div class="list-body">
					<!-- peq-list rows goes here -->
				</div>

				<div class="inline-menubox arrow-below bubble-knob hidden">
					<div class="inline-content"><div class="knob"></div></div>
				</div>
			</div>
		</div>
		<div class="buttons">
			<div class="presets">
				<span>Presets</span>
				<div>
					<ul>
						<li>1</li>
						<li>2</li>
						<li class="empty"></li>
						<li class="empty"></li>
						<li class="empty"></li>
						<li><i class="icon-padlock toggle-presets"></i></li>
					</ul>
				</div>
			</div>

			<div class="button" data-click="dlg-ok">Apply</div>
			<div class="button" data-click="dlg-reset">Reset</div>
		</div>
	</div>
</div>

<div class="dialog-box" data-dlg="dlgGraphicEq">
	<div class="dlg-content">
		<h2>
			<i class="icon-dlg-close" data-click="dlg-close"></i>
			Graphic Equalizer

			<div class="toggler" data-value="on" data-click="dlg-preview">
				<span>Preview</span>
			</div>
		</h2>
		<div class="dlg-body">
			<div class="field-range">
				<span class="value"><input type="text" name="hz32" data-min="-25" data-max="25" data-suffix=" dB" data-default="0" data-change="set-hz32"></span>
				<div class="slider"><span class="handle"></span></div>
				<span class="label">&lt; 32 Hz</span>
			</div>
			
			<div class="field-range">
				<span class="value"><input type="text" name="hz64" data-min="-25" data-max="25" data-suffix=" dB" data-default="0" data-change="set-hz64"></span>
				<div class="slider"><span class="handle"></span></div>
				<span class="label">64 Hz</span>
			</div>
			
			<div class="field-range">
				<span class="value"><input type="text" name="hz125" data-min="-25" data-max="25" data-suffix=" dB" data-default="0" data-change="set-hz125"></span>
				<div class="slider"><span class="handle"></span></div>
				<span class="label">125 Hz</span>
			</div>
			
			<div class="field-range">
				<span class="value"><input type="text" name="hz250" data-min="-25" data-max="25" data-suffix=" dB" data-default="0" data-change="set-hz250"></span>
				<div class="slider"><span class="handle"></span></div>
				<span class="label">250 Hz</span>
			</div>

			<div class="field-range">
				<span class="value"><input type="text" name="hz500" data-min="-25" data-max="25" data-suffix=" dB" data-default="0" data-change="set-hz500"></span>
				<div class="slider"><span class="handle"></span></div>
				<span class="label">500 Hz</span>
			</div>
			
			<div class="field-range">
				<span class="value"><input type="text" name="hz1K" data-min="-25" data-max="25" data-suffix=" dB" data-default="0" data-change="set-hz1K"></span>
				<div class="slider"><span class="handle"></span></div>
				<span class="label">1 KHz</span>
			</div>
			
			<div class="field-range">
				<span class="value"><input type="text" name="hz2K" data-min="-25" data-max="25" data-suffix=" dB" data-default="0" data-change="set-hz2K"></span>
				<div class="slider"><span class="handle"></span></div>
				<span class="label">2 KHz</span>
			</div>
			
			<div class="field-range">
				<span class="value"><input type="text" name="hz4K" data-min="-25" data-max="25" data-suffix=" dB" data-default="0" data-change="set-hz4K"></span>
				<div class="slider"><span class="handle"></span></div>
				<span class="label">4 KHz</span>
			</div>
			
			<div class="field-range">
				<span class="value"><input type="text" name="hz8K" data-min="-25" data-max="25" data-suffix=" dB" data-default="0" data-change="set-hz8K"></span>
				<div class="slider"><span class="handle"></span></div>
				<span class="label">8 KHz</span>
			</div>
			
			<div class="field-range">
				<span class="value"><input type="text" name="hz16K" data-min="-25" data-max="25" data-suffix=" dB" data-default="0" data-change="set-hz16K"></span>
				<div class="slider"><span class="handle"></span></div>
				<span class="label">16 KHz</span>
			</div>
		</div>
		<div class="buttons">
			<div class="button" data-click="dlg-ok">Apply</div>
			<div class="button" data-click="dlg-reset">Reset</div>
		</div>
	</div>
</div>

<div class="dialog-box" data-dlg="dlgGraphicEq20">
	<div class="dlg-content">
		<h2>
			<i class="icon-dlg-close" data-click="dlg-close"></i>
			Graphic Equalizer - 20 Bands

			<div class="toggler" data-value="on" data-click="dlg-preview">
				<span>Preview</span>
			</div>
		</h2>
		<div class="dlg-body">
			<div class="field-range">
				<span class="value"><input type="text" name="hz32" data-min="-25" data-max="25" data-default="0" data-change="hz32"></span>
				<div class="slider"><span class="handle"></span></div>
				<span class="label">&lt; 32 Hz</span>
			</div>
			
			<div class="field-range">
				<span class="value"><input type="text" name="hz44" data-min="-25" data-max="25" data-default="0" data-change="hz44"></span>
				<div class="slider"><span class="handle"></span></div>
				<span class="label">44 Hz</span>
			</div>

			<div class="field-range">
				<span class="value"><input type="text" name="hz63" data-min="-25" data-max="25" data-default="0" data-change="hz63"></span>
				<div class="slider"><span class="handle"></span></div>
				<span class="label">63 Hz</span>
			</div>

			<div class="field-range">
				<span class="value"><input type="text" name="hz88" data-min="-25" data-max="25" data-default="0" data-change="hz88"></span>
				<div class="slider"><span class="handle"></span></div>
				<span class="label">88 Hz</span>
			</div>

			<div class="field-range">
				<span class="value"><input type="text" name="hz125" data-min="-25" data-max="25" data-default="0" data-change="hz125"></span>
				<div class="slider"><span class="handle"></span></div>
				<span class="label">125 Hz</span>
			</div>

			<div class="field-range">
				<span class="value"><input type="text" name="hz180" data-min="-25" data-max="25" data-default="0" data-change="hz180"></span>
				<div class="slider"><span class="handle"></span></div>
				<span class="label">180 Hz</span>
			</div>

			<div class="field-range">
				<span class="value"><input type="text" name="hz250" data-min="-25" data-max="25" data-default="0" data-change="hz250"></span>
				<div class="slider"><span class="handle"></span></div>
				<span class="label">250 Hz</span>
			</div>

			<div class="field-range">
				<span class="value"><input type="text" name="hz335" data-min="-25" data-max="25" data-default="0" data-change="hz335"></span>
				<div class="slider"><span class="handle"></span></div>
				<span class="label">335 Hz</span>
			</div>

			<div class="field-range">
				<span class="value"><input type="text" name="hz500" data-min="-25" data-max="25" data-default="0" data-change="hz500"></span>
				<div class="slider"><span class="handle"></span></div>
				<span class="label">500 Hz</span>
			</div>

			<div class="field-range">
				<span class="value"><input type="text" name="hz710" data-min="-25" data-max="25" data-default="0" data-change="hz710"></span>
				<div class="slider"><span class="handle"></span></div>
				<span class="label">710 Hz</span>
			</div>

			<div class="field-range">
				<span class="value"><input type="text" name="hz1K" data-min="-25" data-max="25" data-default="0" data-change="hz1K"></span>
				<div class="slider"><span class="handle"></span></div>
				<span class="label">1 KHz</span>
			</div>

			<div class="field-range">
				<span class="value"><input type="text" name="hz4K" data-min="-25" data-max="25" data-default="0" data-change="hz4K"></span>
				<div class="slider"><span class="handle"></span></div>
				<span class="label">4 KHz</span>
			</div>

			<div class="field-range">
				<span class="value"><input type="text" name="hz2K" data-min="-25" data-max="25" data-default="0" data-change="hz2K"></span>
				<div class="slider"><span class="handle"></span></div>
				<span class="label">2 KHz</span>
			</div>

			<div class="field-range">
				<span class="value"><input type="text" name="hz8K" data-min="-25" data-max="25" data-default="0" data-change="hz8K"></span>
				<div class="slider"><span class="handle"></span></div>
				<span class="label">8 KHz</span>
			</div>

			<div class="field-range">
				<span class="value"><input type="text" name="hz4K" data-min="-25" data-max="25" data-default="0" data-change="hz4K"></span>
				<div class="slider"><span class="handle"></span></div>
				<span class="label">4 KHz</span>
			</div>

			<div class="field-range">
				<span class="value"><input type="text" name="hz6K" data-min="-25" data-max="25" data-default="0" data-change="hz6K"></span>
				<div class="slider"><span class="handle"></span></div>
				<span class="label">6 KHz</span>
			</div>

			<div class="field-range">
				<span class="value"><input type="text" name="hz8K" data-min="-25" data-max="25" data-default="0" data-change="hz8K"></span>
				<div class="slider"><span class="handle"></span></div>
				<span class="label">8 KHz</span>
			</div>

			<div class="field-range">
				<span class="value"><input type="text" name="hz3K" data-min="-25" data-max="25" data-default="0" data-change="hz3K"></span>
				<div class="slider"><span class="handle"></span></div>
				<span class="label">3 KHz</span>
			</div>

			<div class="field-range">
				<span class="value"><input type="text" name="hz22K" data-min="-25" data-max="25" data-default="0" data-change="hz22K"></span>
				<div class="slider"><span class="handle"></span></div>
				<span class="label">22 KHz</span>
			</div>
		</div>
		<div class="buttons">
			<div class="button" data-click="dlg-ok">Apply</div>
			<div class="button" data-click="dlg-reset">Reset</div>
		</div>
	</div>
</div>

<div class="dialog-box" data-dlg="dlgHardLimiter">
	<div class="dlg-content">
		<h2>
			<i class="icon-dlg-close" data-click="dlg-close"></i>
			Hard Limiter

			<div class="toggler" data-value="on" data-click="dlg-preview">
				<span>Preview</span>
			</div>
		</h2>
		<div class="dlg-body">
			<div class="field-box">
				<span class="label">Limit to</span>
				<div class="knob"></div>
				<span class="value"><input type="text" name="limit-to" data-min="10" data-max="100" data-suffix="%" data-default="99" data-change="set-limit-to"></span>
			</div>
			
			<div class="field-box">
				<span class="label" title="Between lows & highs">Ratio</span>
				<div class="knob"></div>
				<span class="value"><input type="text" name="ratio" data-min="0" data-max="100" data-suffix="%" data-default="0" data-change="set-ratio"></span>
			</div>
			
			<div class="field-box">
				<span class="label">Look Ahead</span>
				<div class="knob"></div>
				<span class="value"><input type="text" name="look-ahead" data-min="1" data-max="500" data-suffix="ms" data-default="30" data-change="set-look-ahead"></span>
			</div>
		</div>
		<div class="buttons">
			<div class="button" data-click="dlg-ok">Apply</div>
			<div class="button" data-click="dlg-reset">Reset</div>
		</div>
	</div>
</div>

<div class="dialog-box" data-dlg="dlgDelay">
	<div class="dlg-content">
		<h2>
			<i class="icon-dlg-close" data-click="dlg-close"></i>
			Delay

			<div class="toggler" data-value="on" data-click="dlg-preview">
				<span>Preview</span>
			</div>
		</h2>
		<div class="dlg-body">
			<div class="field-box">
				<span class="label">Time</span>
				<div class="knob"></div>
				<span class="value"><input type="text" name="threshold" data-min="0" data-max="5" data-step="0.1" data-default="1.0" data-change="set-threshold"></span>
			</div>
			
			<div class="field-box">
				<span class="label">Feedback</span>
				<div class="knob"></div>
				<span class="value"><input type="text" name="ratio" data-min="0" data-max="1" data-step="0.01" data-default="0.5" data-change="set-ratio"></span>
			</div>
			
			<div class="field-box">
				<span class="label">Wet</span>
				<div class="knob"></div>
				<span class="value"><input type="text" name="wet" data-min="0" data-max="1" data-step="0.01" data-default="0.4" data-change="set-wet"></span>
			</div>
		</div>
		<div class="buttons">
			<div class="button" data-click="dlg-ok">Apply</div>
			<div class="button" data-click="dlg-reset">Reset</div>
		</div>
	</div>
</div>

<div class="dialog-box" data-dlg="dlgDistortion">
	<div class="dlg-content">
		<h2>
			<i class="icon-dlg-close" data-click="dlg-close"></i>
			Distortion
		</h2>
		<div class="dlg-body">
			<div class="field-range-h">
				<span class="label">Gain</span>
				<div class="slider"><span class="handle"></span></div>
				<span class="value"><input type="text" name="gain" data-min="0" data-max="2" data-step="0.1" data-default="0.5" data-change="set-gain"></span>
			</div>
		</div>
		<div class="buttons">
			<div class="button" data-click="dlg-ok">Apply</div>
			<div class="button" data-click="dlg-reset">Reset</div>
		</div>
	</div>
</div>

<div class="dialog-box" data-dlg="dlgReverb">
	<div class="dlg-content">
		<h2>
			<i class="icon-dlg-close" data-click="dlg-close"></i>
			Delay

			<div class="toggler" data-value="on" data-click="dlg-preview">
				<span>Preview</span>
			</div>
		</h2>
		<div class="dlg-body">
			<div class="field-box">
				<span class="label">Time</span>
				<div class="knob"></div>
				<span class="value"><input type="text" name="threshold" data-min="0" data-max="5" data-step=".1" data-default="1.0" data-change="set-threshold"></span>
			</div>
			
			<div class="field-box">
				<span class="label">Feedback</span>
				<div class="knob"></div>
				<span class="value"><input type="text" name="ratio" data-min="0" data-max="1" data-step=".01" data-default="0.5" data-change="set-ratio"></span>
			</div>
			
			<div class="field-box">
				<span class="label">Wet</span>
				<div class="knob"></div>
				<span class="value"><input type="text" name="wet" data-min="0" data-max="1" data-step=".01" data-default="0.4" data-change="set-wet"></span>
			</div>
		</div>
		<div class="buttons">
			<div class="button" data-click="dlg-ok">Apply</div>
			<div class="button" data-click="dlg-reset">Reset</div>
		</div>
	</div>
</div>

<div class="dialog-box" data-dlg="dlgSpeed">
	<div class="dlg-content">
		<h2>
			<i class="icon-dlg-close" data-click="dlg-close"></i>
			Change Speed

			<div class="toggler" data-value="on" data-click="dlg-preview">
				<span>Preview</span>
			</div>
		</h2>
		<div class="dlg-body">
			<div class="field-range-h">
				<span class="label">Playback Rate</span>
				<div class="slider"><span class="handle"></span></div>
				<span class="value"><input type="text" name="rate" data-min="0" data-max="2" data-step="0.1" data-default="0.5" data-change="set-rate"></span>
			</div>
		</div>
		<div class="buttons">
			<div class="button" data-click="dlg-ok">Apply</div>
			<div class="button" data-click="dlg-reset">Reset</div>
		</div>
	</div>
</div>
