
<div class="dialog-box showing" data-dlg="dlg-compressor">
	<div class="dlg-content">
		<div class="fields">
			<h2>
				<i class="icon-dlg-close" data-click="dlg-close"></i>
				Compressor
			</h2>
			<div class="field-row has-knob">
				<div class="option input">
					<span class="label">Threshold</span>
					<span class="value"><input type="text" name="threshold" value="-24.0" data-min="-100.0" data-max="0.0" data-default="-24.0"></span>
				</div>
				<div class="knob" data-change="set-threshold"></div>
			</div>
		</div>
		<div class="buttons">
			<div class="button" data-click="dlg-ok">OK</div>
			<div class="button" data-click="dlg-reset">Reset</div>
			<div class="toggler" data-value="on" data-click="dlg-preview">
				<span>Preview</span>
			</div>
		</div>
	</div>
</div>
