
<div class="dialog-box showing" data-dlg="dlg-compressor">
	<div class="dlg-content">
		<h2>
			<i class="icon-dlg-close" data-click="dlg-close"></i>
			Compressor

			<div class="toggler" data-value="off" data-click="dlg-preview">
				<span>Preview</span>
			</div>
		</h2>
		<div class="dlg-body">
			<div class="field-box">
				<span class="label">Threshold</span>
				<div class="knob" data-change="set-threshold" data-value="24"></div>
				<span class="value"><input type="text" name="threshold" value="-24.0" data-min="-100.0" data-max="0.0" data-step="0.1" data-default="-24.0"></span>
			</div>
			
			<div class="field-box">
				<span class="label">Knee</span>
				<div class="knob" data-change="set-knee" data-value="30"></div>
				<span class="value"><input type="text" name="knee" value="-24.0" data-min="0.0" data-max="40.0" data-step="0.1" data-default="30.0"></span>
			</div>
			
			<div class="field-box">
				<span class="label">Ratio</span>
				<div class="knob" data-change="set-ratio" data-value="12"></div>
				<span class="value"><input type="text" name="ratio" value="12.0" data-min="1.0" data-max="20.0" data-step="0.1" data-default="12.0"></span>
			</div>
			
			<div class="field-box">
				<span class="label">Attack</span>
				<div class="knob" data-change="set-attack" data-value="13"></div>
				<span class="value"><input type="text" name="attack" value="0.003" data-min="0.0" data-max="1.0" data-step="0.001" data-default="0.003"></span>
			</div>
			
			<div class="field-box">
				<span class="label">Release</span>
				<div class="knob" data-change="set-release" data-value="57"></div>
				<span class="value"><input type="text" name="release" value="0.25" data-min="0.0" data-max="1.0" data-step="0.001" data-default="0.25"></span>
			</div>
		</div>
		<div class="buttons">
			<div class="button" data-click="dlg-ok">Apply</div>
			<div class="button" data-click="dlg-reset">Reset</div>
		</div>
	</div>
</div>

<div class="dialog-box showing" data-dlg="dlg-gain">
	<div class="dlg-content">
		<h2>
			<i class="icon-dlg-close" data-click="dlg-close"></i>
			Apply Gain

			<div class="toggler" data-value="on" data-click="dlg-preview">
				<span>Preview</span>
			</div>
		</h2>
		<div class="dlg-body">
			<div class="field-box">
				<span class="label">Gain</span>
				<div class="pan-knob" data-change="set-gain" data-value="0"></div>
				<span class="value"><input type="text" name="gain" value="100%" data-min="0" data-max="200" data-suffix="%" data-default="100"></span>
			</div>
		</div>
		<div class="buttons">
			<div class="button" data-click="dlg-ok">Apply</div>
			<div class="button" data-click="dlg-reset">Reset</div>
		</div>
	</div>
</div>

<div class="dialog-box showing" data-dlg="dlg-paragraphicEq">
	<div class="dlg-content">
		<h2>
			<i class="icon-dlg-close" data-click="dlg-close"></i>
			Paragraphic Equalizer

			<div class="toggler" data-value="on" data-click="dlg-preview">
				<span>Preview</span>
			</div>
		</h2>
		<div class="dlg-body">
			<div class="peq-cvs">
				<div class="vert"><ul><li>28</li><li>14</li><li>0</li><li>-14</li><li>-28</li></ul></div>
				<div class="hori"><ul>
					<li>20 Hz</li>
					<li>100 Hz</li>
					<li>200 Hz</li>
					<li>1 KHz</li>
					<li>2 KHz</li>
					<li>10 KHz</li>
				</ul></div>
				<canvas></canvas>
			</div>
		</div>
		<div class="buttons">
			<div class="button" data-click="dlg-ok">Apply</div>
			<div class="button" data-click="dlg-reset">Reset</div>
		</div>
	</div>
</div>

<div class="dialog-box showing" data-dlg="dlg-graphicEq">
	<div class="dlg-content">
		<h2>
			<i class="icon-dlg-close" data-click="dlg-close"></i>
			Graphic Equalizer

			<div class="toggler" data-value="on" data-click="dlg-preview">
				<span>Preview</span>
			</div>
		</h2>
		<div class="dlg-body">
			<div class="field-range">
				<span class="value"><input type="text" name="hz32" value="0 dB" data-min="-24" data-max="24" data-suffix="dB" data-default="0"></span>
				<div class="slider"><span class="handle"></span></div>
				<span class="label">&lt; 32 Hz</span>
			</div>
			
			<div class="field-range">
				<span class="value"><input type="text" name="hz64" value="0 dB" data-min="-24" data-max="24" data-suffix="dB" data-default="0"></span>
				<div class="slider"><span class="handle"></span></div>
				<span class="label">64 Hz</span>
			</div>
			
			<div class="field-range">
				<span class="value"><input type="text" name="hz125" value="0 dB" data-min="-24" data-max="24" data-suffix="dB" data-default="0"></span>
				<div class="slider"><span class="handle"></span></div>
				<span class="label">125 Hz</span>
			</div>
			
			<div class="field-range">
				<span class="value"><input type="text" name="hz250" value="0 dB" data-min="-24" data-max="24" data-suffix="dB" data-default="0"></span>
				<div class="slider"><span class="handle"></span></div>
				<span class="label">250 Hz</span>
			</div>

			<div class="field-range">
				<span class="value"><input type="text" name="hz500" value="0 dB" data-min="-24" data-max="24" data-suffix="dB" data-default="0"></span>
				<div class="slider"><span class="handle"></span></div>
				<span class="label">500 Hz</span>
			</div>
			
			<div class="field-range">
				<span class="value"><input type="text" name="hz1K" value="0 dB" data-min="-24" data-max="24" data-suffix="dB" data-default="0"></span>
				<div class="slider"><span class="handle"></span></div>
				<span class="label">1 KHz</span>
			</div>
			
			<div class="field-range">
				<span class="value"><input type="text" name="hz2K" value="0 dB" data-min="-24" data-max="24" data-suffix="dB" data-default="0"></span>
				<div class="slider"><span class="handle"></span></div>
				<span class="label">2 KHz</span>
			</div>
			
			<div class="field-range">
				<span class="value"><input type="text" name="hz4K" value="0 dB" data-min="-24" data-max="24" data-suffix="dB" data-default="0"></span>
				<div class="slider"><span class="handle"></span></div>
				<span class="label">4 KHz</span>
			</div>
			
			<div class="field-range">
				<span class="value"><input type="text" name="hz8K" value="0 dB" data-min="-24" data-max="24" data-suffix="dB" data-default="0"></span>
				<div class="slider"><span class="handle"></span></div>
				<span class="label">8 KHz</span>
			</div>
			
			<div class="field-range">
				<span class="value"><input type="text" name="hz16K" value="0 dB" data-min="-24" data-max="24" data-suffix="dB" data-default="0"></span>
				<div class="slider"><span class="handle"></span></div>
				<span class="label">16 KHz</span>
			</div>
		</div>
		<div class="buttons">
			<div class="button" data-click="dlg-ok">Apply</div>
			<div class="button" data-click="dlg-reset">Reset</div>
		</div>
	</div>
</div>

<div class="dialog-box showing" data-dlg="dlg-graphicEq20">
	<div class="dlg-content">
		<h2>
			<i class="icon-dlg-close" data-click="dlg-close"></i>
			Graphic Equalizer - 20 Bands

			<div class="toggler" data-value="on" data-click="dlg-preview">
				<span>Preview</span>
			</div>
		</h2>
		<div class="dlg-body">
			<div class="field-range">
				<span class="value"><input type="text" name="hz32" value="0 dB" data-min="-24" data-max="24" data-suffix="dB" data-default="0"></span>
				<div class="slider"><span class="handle"></span></div>
				<span class="label">&lt; 31 Hz</span>
			</div>
			
			<div class="field-range">
				<span class="value"><input type="text" name="hz32" value="0 dB" data-min="-24" data-max="24" data-suffix="dB" data-default="0"></span>
				<div class="slider"><span class="handle"></span></div>
				<span class="label">44 Hz</span>
			</div>

			<div class="field-range">
				<span class="value"><input type="text" name="hz32" value="0 dB" data-min="-24" data-max="24" data-suffix="dB" data-default="0"></span>
				<div class="slider"><span class="handle"></span></div>
				<span class="label">63 Hz</span>
			</div>

			<div class="field-range">
				<span class="value"><input type="text" name="hz32" value="0 dB" data-min="-24" data-max="24" data-suffix="dB" data-default="0"></span>
				<div class="slider"><span class="handle"></span></div>
				<span class="label">88 Hz</span>
			</div>

			<div class="field-range">
				<span class="value"><input type="text" name="hz32" value="0 dB" data-min="-24" data-max="24" data-suffix="dB" data-default="0"></span>
				<div class="slider"><span class="handle"></span></div>
				<span class="label">125 Hz</span>
			</div>

			<div class="field-range">
				<span class="value"><input type="text" name="hz32" value="0 dB" data-min="-24" data-max="24" data-suffix="dB" data-default="0"></span>
				<div class="slider"><span class="handle"></span></div>
				<span class="label">180 Hz</span>
			</div>

			<div class="field-range">
				<span class="value"><input type="text" name="hz32" value="0 dB" data-min="-24" data-max="24" data-suffix="dB" data-default="0"></span>
				<div class="slider"><span class="handle"></span></div>
				<span class="label">250 Hz</span>
			</div>

			<div class="field-range">
				<span class="value"><input type="text" name="hz32" value="0 dB" data-min="-24" data-max="24" data-suffix="dB" data-default="0"></span>
				<div class="slider"><span class="handle"></span></div>
				<span class="label">335 Hz</span>
			</div>

			<div class="field-range">
				<span class="value"><input type="text" name="hz32" value="0 dB" data-min="-24" data-max="24" data-suffix="dB" data-default="0"></span>
				<div class="slider"><span class="handle"></span></div>
				<span class="label">500 Hz</span>
			</div>

			<div class="field-range">
				<span class="value"><input type="text" name="hz32" value="0 dB" data-min="-24" data-max="24" data-suffix="dB" data-default="0"></span>
				<div class="slider"><span class="handle"></span></div>
				<span class="label">710 Hz</span>
			</div>

			<div class="field-range">
				<span class="value"><input type="text" name="hz32" value="0 dB" data-min="-24" data-max="24" data-suffix="dB" data-default="0"></span>
				<div class="slider"><span class="handle"></span></div>
				<span class="label">1 KHz</span>
			</div>

			<div class="field-range">
				<span class="value"><input type="text" name="hz32" value="0 dB" data-min="-24" data-max="24" data-suffix="dB" data-default="0"></span>
				<div class="slider"><span class="handle"></span></div>
				<span class="label">4 KHz</span>
			</div>

			<div class="field-range">
				<span class="value"><input type="text" name="hz32" value="0 dB" data-min="-24" data-max="24" data-suffix="dB" data-default="0"></span>
				<div class="slider"><span class="handle"></span></div>
				<span class="label">2 KHz</span>
			</div>

			<div class="field-range">
				<span class="value"><input type="text" name="hz32" value="0 dB" data-min="-24" data-max="24" data-suffix="dB" data-default="0"></span>
				<div class="slider"><span class="handle"></span></div>
				<span class="label">8 KHz</span>
			</div>

			<div class="field-range">
				<span class="value"><input type="text" name="hz32" value="0 dB" data-min="-24" data-max="24" data-suffix="dB" data-default="0"></span>
				<div class="slider"><span class="handle"></span></div>
				<span class="label">4 KHz</span>
			</div>

			<div class="field-range">
				<span class="value"><input type="text" name="hz32" value="0 dB" data-min="-24" data-max="24" data-suffix="dB" data-default="0"></span>
				<div class="slider"><span class="handle"></span></div>
				<span class="label">6 KHz</span>
			</div>

			<div class="field-range">
				<span class="value"><input type="text" name="hz32" value="0 dB" data-min="-24" data-max="24" data-suffix="dB" data-default="0"></span>
				<div class="slider"><span class="handle"></span></div>
				<span class="label">8 KHz</span>
			</div>

			<div class="field-range">
				<span class="value"><input type="text" name="hz32" value="0 dB" data-min="-24" data-max="24" data-suffix="dB" data-default="0"></span>
				<div class="slider"><span class="handle"></span></div>
				<span class="label">3 KHz</span>
			</div>

			<div class="field-range">
				<span class="value"><input type="text" name="hz32" value="0 dB" data-min="-24" data-max="24" data-suffix="dB" data-default="0"></span>
				<div class="slider"><span class="handle"></span></div>
				<span class="label">22 KHz</span>
			</div>
		</div>
		<div class="buttons">
			<div class="button" data-click="dlg-ok">Apply</div>
			<div class="button" data-click="dlg-reset">Reset</div>
		</div>
	</div>
</div>
