
/*
@im1port url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
*/

background: #1b2642;

content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 7px;
	display: flex;
	color: #efeeff;

	.box {
		width: 100%;
		height: 100%;
		border-radius: 6px;
	}

	h2 {
		font-family: 'Quicksand', sans-serif;
		font-size: 53px;
		font-weight: 100;
		line-height: 1.25;
		text-shadow: 0 1px 1px #1b2642;
	}

	h3 {
		font-family: 'Quicksand', sans-serif;
		font-size: 29px;
		font-weight: 100;
		text-shadow: 0 1px 0 #1b2642;
	}

	.zoom {
		background: #1f2c4c;
		border-radius: 3px;
		text-align: left;
		display: inline-block;
		// min-width: 53px;
		padding: 4px 5px;
		color: #bab8e0;
		font-size: 12px;
	}

	.sidebar {
		position: relative;
		width: 180px;
		margin-right: 6px;

		.box {
			background: linear-gradient(180deg, #3c5b87 0%, #2f466e 50%, #233254 100%);
			display: flex;
			flex-direction: column;

			> div {
				text-align: center;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				&:nth-child(1) {
					flex: 1;
				}

				&:nth-child(2) {
					height: 180px;
				}

				&:nth-child(3) {
					flex: 1;
				}
			}
		}

		.volume-knob {
			background: linear-gradient(180deg, #2c4267 0%, #304d72 100%);
			position: relative;
			display: inline-block;
			width: 110px;
			height: 110px;
			padding: 10px 0 0;
			border-radius: 50%;

			.range {
				display: none;
				position: absolute;
				top: 6px;
				left: 6px;
				z-index: 1;
				width: 98px;
				height: 98px;
				border-radius: inherit;
				border-left: 1px solid #9fcef6;
				border-top: 0;
				border-bottom: 0;
			}

			.knob {
				background: linear-gradient(0deg, #2f476e 0%, #324f76 100%);
				position: relative;
				display: inline-block;
				width: 90px;
				height: 90px;
				border-radius: inherit;
				box-shadow: 0 0 0 1px fadeout(#1b2642, 47%),
							0 0 7px rgba(0,0,0,.225),
							0 2px 5px rgba(0,0,0,.225),
							inset 0 -1px 0 rgba(0,0,0,.125),
							inset 0 1px 0 rgba(255,255,255,.125);

				.inner {
					position: relative;
					width: 100%;
					height: 100%;
					border-radius: inherit;
					transform: rotate(-135deg);
					transform-origin: 50% 50%;

					.light {
						position: absolute;
						top: 7px;
						left: calc( 50% - 1px );
						width: 3px;
						height: 7px;
						border-radius: 5px;
						background: #9fcef6;
						box-shadow: 0 0 17px #71a1ca,
									0 0 7px #71a1ca,
									0 0 3px #71a1ca;
					}
				}
			}
		}
	}

	.body {
		position: relative;
		flex: 1;
		display: flex;
		flex-direction: column;

		> div {
			position: relative;

			&:not(:first-child) {
				margin-top: 6px;
			}

			&.top {
				display: flex;
				height: 180px;

				.details {
					width: 250px;
					text-align: center;
				}

				.slider {
					width: 43px;
					margin-left: 3px;
					border-radius: 3px;
					background: linear-gradient(180deg, #426390 0%, #304a74 100%);
					padding: 2px;
				}
				
				.box {
					flex: 1;
					width: auto;
					margin-left: 6px;
					background: linear-gradient(180deg, #426390 0%, #304a74 100%);
				}
			}

			&.middle {
				flex: 1;

				.box.waves {
					background: linear-gradient(180deg, #324e76 0%, #2b3e67 100%);
					padding: 7px;
					display: flex;
					flex-direction: column;

					.cvs-full {
						position: relative;
						height: 59px;
						background: #283b5f;
						border-radius: 3px;
						margin-bottom: 7px;

						.area {
							position: absolute;
							top: -3px;
							bottom: -3px;
							left: 140px;
							width: 280px;
							border-radius: 4px;
							border: 1px solid #71a1ca;
						}
					}

					.cvs-zoom {
						position: relative;
						flex: 1;
						background: #1f2c4c;
						border-radius: 3px;
					}

					canvas {
						position: absolute;
						top: 2px;
						left: 2px;
						width: calc( 100% - 4px );
						height: calc( 100% - 4px );
						border-radius: 3px;
						pointer-events: none;
					}
				}
			}

			&.bottom {
				height: 200px;
				display: flex;

				.box {
					background: linear-gradient(180deg, #2d416c 0%, #233254 100%);

					&:not(:first-child) {
						margin-left: 6px;
					}

					&:nth-child(1) {
						flex: 1;
					}

					&:nth-child(2) {
						width: 190px;
					}

					&:nth-child(3) {
						width: 280px;
					}
				}
			}
		}
	}
}
