
// for dark theme
@import "theme-dark";
@import "blank-view";


background: transparent;
overflow: visible;


content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	color: #efeeff;
	border-radius: inherit;

	&.cover:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 109;
	}

	&.hideMouse:before {
		cursor: none;
	}

	&.dialog-showing {
		background: #1b2642;
		border-radius: inherit;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 2;
			border-radius: inherit;
			background: rgba(#002,.2);
		}

		.workspace {
			transform: scale(.995);
			filter: blur(2px);
			z-index: 1;
		}

		.dialog-box {
			z-index: 3;
		}
	}

	&.show-blank-view {
		.blank-view { display: block; }
		.workspace { display: none; }
	}

	&.show-sidebar {
		.sidebar {
			opacity: 1;
			width: 180px;
			margin-right: 5px;
		}
	}

	&.show-dock {
		.area {
			.workarea {
				.waves:before,
				.speaker:before {
					opacity: 1;
				}
			}
		}

		.area .dock {
			opacity: 1;
			height: 200px;
			margin-top: 5px;
		}
	}

	.workspace {
		background: #1b2642;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 5px;
		display: flex;
		border-radius: inherit;
	}

	.box {
		position: relative;
		width: 100%;
		height: 100%;
		border-radius: 3px;

		&.on {
			.icon-switch {
				filter: invert(1) brightness(1) sepia(1) hue-rotate(135deg) drop-shadow(0 0 3px #71a1cabb);
			}

			.head {
				color: #9fcef6;
				text-shadow: 0 0 7px #71a1ca99,
							0 0 3px #71a1ca99;
			}
		}

		.icon-switch {
			position: absolute;
			top: 3px;
			left: 5px;
			width: 13px;
			height: 13px;
			background: url(~/icons/icon-switch.png) 50% 50%/contain no-repeat;
			filter: invert(1) sepia(1) opacity(.5) hue-rotate(135deg) drop-shadow(0 1px 0 rgba(#000,.25));
			cursor: pointer;
		}

		.head {
			padding: 5px 0 0 21px;
			font-size: 10px;
			text-transform: uppercase;
			color: #6a8aa5;
			text-shadow: 0 1px 0 rgba(#000,.25);
		}

		.body {
			background: rgba(#000,.075);
			box-shadow: inset 0 0 7px rgba(#000,.1);
			position: absolute;
			top: 19px;
			bottom: 5px;
			left: 5px;
			right: 5px;
			border-radius: 4px;
			padding-top: 1px;
			overflow: hidden;
		}
	}

	.sidebar {
		position: relative;
		width: 0;
		opacity: 0;
		margin: 0;
		transition: width 200ms ease-in-out,
					opacity 200ms ease-in-out;

		.box {
			background: linear-gradient(180deg, #3c5b87 0%, #2f466e 50%, #233254 100%);
		}

		.txt-selection {
			position: absolute;
			top: 30px;
			left: 13px;
			right: 13px;
			text-shadow: 0 1px 0 rgba(#002,.25);
			opacity: 0;
			visibility: hidden;
			transition: opacity 120ms ease-in-out;

			&.show-text {
				opacity: 1;
				visibility: visible;
			}

			div {
				position: relative;
				height: 23px;
				display: flex;

				&.title {
					display: block;
					height: 41px;
					opacity: 1;
					font-size: 29px;
					font-weight: 100;
					text-align: center;
				}

				// &:nth-child(2) span:nth-child(1):after { content: " α"; }
				// &:nth-child(3) span:nth-child(1):after { content: " Ω"; }
				// &:nth-child(4) span:nth-child(1):after { content: " Δ"; }

				&:nth-child(2) span:nth-child(2) { color: #f1a6f2; }
				&:nth-child(3) span:nth-child(2) { color: #63d7e6; }
				&:nth-child(4) span:nth-child(2) { color: #eef; }

				span {
					font-size: 15px;
					line-height: 20px;

					&:nth-child(1) {
						font-weight: 100;
						width: 73px;
						opacity: .6;

						// &:after { opacity: .5; }
					}

					&:nth-child(2) {
						flex: 1;
						text-align: right;
						color: #bbf;
					}
				}
			}
		}

		.volume-wrapper {
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			margin-top: -55px;
			height: 110px;
			text-align: center;
			align-items: center;

			&.show-text .txt-volume {
				opacity: 1;
				visibility: visible;
			}

			.txt-volume {
				opacity: 0;
				visibility: hidden;
				position: absolute;
				bottom: -130px;
				left: 0;
				right: 0;
				transition: opacity 100ms ease-in-out;

				h3 {
					font-size: 29px;
					font-weight: 100;
					text-shadow: 0 1px 0 #1b2642;
				}

				h2 {
					font-size: 53px;
					font-weight: 100;
					line-height: 1.25;
					text-shadow: 0 1px 1px #1b2642;

					&:after { content: "%"; }
				}
			}

			.volume-knob {
				background: linear-gradient(180deg, #2c4267 0%, #304d72 100%);
				position: relative;
				display: inline-block;
				width: 110px;
				height: 110px;
				padding: 10px 0 0;
				border-radius: 50%;
				--angle: -35deg;

				.knob {
					background: linear-gradient(0deg, #2f476e 0%, #324f76 100%);
					position: relative;
					display: inline-block;
					width: 90px;
					height: 90px;
					border-radius: inherit;
					pointer-events: none;
					box-shadow: 0 0 0 1px fadeout(#1b2642, 47%),
								0 0 7px rgba(0,0,0,.225),
								0 2px 5px rgba(0,0,0,.225),
								inset 0 -1px 0 rgba(0,0,0,.125),
								inset 0 1px 0 rgba(255,255,255,.125);

					.inner {
						position: relative;
						width: 100%;
						height: 100%;
						border-radius: inherit;
						transform: rotate( var( --angle ) );
						transform-origin: 50% 50%;

						.light {
							position: absolute;
							top: 7px;
							left: calc( 50% - 1px );
							width: 3px;
							height: 7px;
							border-radius: 5px;
							background: #9fcef6;
							box-shadow: 0 0 17px #71a1ca,
										0 0 7px #71a1ca,
										0 0 3px #71a1ca;
						}
					}
				}
			}
		}
	}

	.area {
		position: relative;
		flex: 1;
		display: flex;
		flex-direction: column;

		.workarea {
			position: relative;
			flex: 1;
			display: flex;
			flex-direction: rows;

			.waves {
				background: linear-gradient(180deg, #3d5b88 0%, #233254 100%);
				padding: 7px;
				display: flex;
				flex-direction: column;
				margin-right: 5px;

				&:before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					border-radius: inherit;
					opacity: 0;
					background: linear-gradient(180deg, #3d5b88 0%, #2b3e67 100%);
					transition: opacity 200ms ease-in-out;
				}

				&:not(.mono-channel) {
					.file:after {
						content: "";
						position: absolute;
						top: 50%;
						left: 0;
						right: 0;
						height: 0;
						border-top: 1px solid rgba(#000,.1);
						border-bottom: 1px solid rgba(#fff,.04);
					}
				}

				&.mono-channel {
					.gutter-v {
						.btn-wrapper {
							&:not(.mono) { display: none; }
							&.mono { display: block; }
						}
					}
				}

				.cvs-wrapper {
					box-shadow: inset 0 0 0 1px rgba(#000,.075);
					position: absolute;
					top: 5px;
					bottom: 19px;
					left: 19px;
					right: 5px;
					padding: 1px 1px 0;
					border-radius: 4px;
					overflow: hidden;
					display: flex;
					flex-direction: column;

					&:before {
						content: "";
						position: absolute;
						top: 14px;
						left: 0;
						right: 0;
						bottom: 0;
						box-shadow: inset 0 1px 5px rgba(#002,.05);
						background: rgba(#002,.025);
						border-radius: inherit;
						border-top-left-radius: 0;
						border-top-right-radius: 0;
					}

					.timeline {
						position: relative;
						height: 14px;
						box-shadow: 0 1px 0 rgba(#002,.1);
						border-top: 1px solid rgba(#fff,.04);
						border-bottom: 1px solid rgba(#000,.075);
						border-radius: inherit;
						border-bottom-left-radius: 0;
						border-bottom-right-radius: 0;

						&:before {
							content: "";
							position: absolute;
							bottom: -1px;
							left: 0;
							right: 0;
							height: 5px;
							background: repeating-linear-gradient(90deg,
								rgba(#000,.15) 10px, rgba(#000,.15) 11px, transparent 11px, transparent 20px,
								rgba(#000,.15) 20px, rgba(#000,.15) 21px, transparent 21px, transparent 30px,
								rgba(#000,.15) 30px, rgba(#000,.15) 31px, transparent 31px, transparent 40px,
								rgba(#000,.15) 40px, rgba(#000,.15) 41px, transparent 41px, transparent 60px
							);
						}

						&:after {
							content: "";
							position: absolute;
							bottom: -1px;
							left: 0;
							right: 0;
							height: 7px;
							background: repeating-linear-gradient(90deg,
								rgba(#000,.15) 0px, rgba(#000,.15) 1px, transparent 1px, transparent 50px
							);
						}
					}

					.files-wrapper {
						flex: 1;
						overflow: hidden;
						box-shadow: inset 0 0 7px rgba(#000,.1);
						background: rgba(#000,.075);
					}

					.file {
						position: relative;
						width: 100%;
						height: 100%;
						display: none;

						&.active {
							display: block;
						}

						// ::part(cursor):before {
						// 	content: "";
						// 	position: absolute;
						// 	top: 0;
						// 	left: 1px;
						// 	width: 7px;
						// 	height: 5px;
						// 	transform: translateX(-50%);
						// 	background: inherit;
						// 	clip-path: polygon(50% 100%, 0 0, 100% 0);
						// }

						::part(region-selected) {
							// background-color: rgba(#090,.25) !important;
							background: linear-gradient(-65deg, #43b7c644, #d186d244) !important;
						}
						
						::part(region-handle-left) {
							border-left: 1px solid #9fcef633;
							border-radius: 0;
						}
						
						::part(region-handle-right) {
							border-right: 1px solid #9fcef633;
							border-radius: 0;
						}
					}
				}

				.gutter-v {
					position: absolute;
					top: 5px;
					bottom: 19px;
					left: 3px;
					width: 11px;

					.btn-wrapper {
						position: absolute;
						top: 0;
						left: 0;
						height: 50%;
						width: 13px;

						&:nth-child(2) {
							top: 50%;
						}

						&.mono {
							display: none;
							top: 50%;
							margin-top: -41px;
						}
					}

					.channel-btn {
						box-shadow: 0 0 0 1px rgba(#000,.15);
						position: absolute;
						left: 0;
						margin-top: 41px;
						width: 83px;
						height: 13px;
						border-radius: 3px;
						padding: 2px 0 0;
						text-align: center;
						text-transform: uppercase;
						font-size: 10px;
						cursor: pointer;
						color: #496995;
						text-shadow: -1px 0 0 rgba(#000,.2);
						transform-origin: 0 0;
						transform: rotate(-90deg);

						&.left { top: 70%; }
						&.right { top: 30%; }

						&:before {
							content: "";
							position: absolute;
							top: 3px;
							bottom: 3px;
							right: 5px;
							width: 3px;
							border-radius: 5px;
							background: rgba(#000,.1);
						}

						&.on {
							background: rgba(#000,.05);
							color: #9fcef6;

							&:before {
								background: #9fcef6;
								box-shadow: 0 0 17px #71a1ca,
											0 0 13px #71a1ca;
							}
						}
					}
					
					.zoom-v {
						position: absolute;
						bottom: 3px;
						left: 0;
						width: 13px;
						height: 59px;
						border-radius: 13px;
						// cursor: row-resize;

						&:before {
							content: "";
							background: rgba(#000,.1);
							position: absolute;
							top: 0;
							left: 5px;
							right: 5px;
							bottom: 0;
							border-radius: inherit;
						}

						&.active .handle {
							box-shadow: 0 0 17px #71a1ca,
										0 0 7px #71a1ca,
										0 0 3px #71a1ca;
						}

						.handle {
							position: absolute;
							top: 29px;
							left: 2px;
							width: 9px;
							height: 3px;
							border-radius: 7px;
							background: #9fcef6;
							pointer-events: none;
						}
					}

					.icon-reset {
						position: absolute;
						bottom: -15px;
						left: 1px;
						width: 13px;
						height: 13px;
						background: url(~/icons/icon-reset.png) 50% 50%/contain no-repeat;
						filter: invert(1) sepia(1) opacity(.25) hue-rotate(135deg) drop-shadow(0 1px 0 rgba(#000,.25));
						cursor: pointer;

						&:hover {
							filter: invert(1) brightness(1) sepia(1) hue-rotate(135deg) drop-shadow(0 0 3px #71a1cabb);
						}
					}
				}

				.gutter-h {
					position: absolute;
					bottom: 3px;
					left: 19px;
					right: 5px;
					height: 13px;
					
					.zoom-h {
						position: absolute;
						top: 0;
						left: 3px;
						width: 59px;
						height: 13px;
						border-radius: 13px;
						// cursor: col-resize;

						&:before {
							content: "";
							background: rgba(#000,.1);
							position: absolute;
							top: 5px;
							left: 0;
							right: 0;
							bottom: 5px;
							border-radius: inherit;
						}

						&.active .handle {
							box-shadow: 0 0 17px #71a1ca,
										0 0 7px #71a1ca,
										0 0 3px #71a1ca;
						}

						.handle {
							position: absolute;
							top: 2px;
							left: 13px;
							width: 3px;
							height: 9px;
							border-radius: 7px;
							background: #9fcef6;
							pointer-events: none;
						}
					}
					
					.scrollbar {
						background: rgba(#000,.05);
						box-shadow: inset 0 0 0 1px rgba(#000,.05);
						position: absolute;
						top: 0;
						right: 0;
						left: 67px;
						height: 13px;
						border-radius: 13px;

						.handle {
							background: rgba(#9fcef6,.1);
							position: absolute;
							top: 1px;
							bottom: 1px;
							left: 1px;
							// width: calc( 100% - 2px );
							// width: 31%;
							border-radius: 5px;
							pointer-events: none;
							// cursor: pointer;
						}
					}
				}
			}

			.speaker {
				background: linear-gradient(180deg, #3d5b88 0%, #233254 100%);
				width: 49px;
				padding: 7px;
				display: flex;

				&:before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					border-radius: inherit;
					opacity: 0;
					background: linear-gradient(180deg, #3d5b88 0%, #2b3e67 100%);
					transition: opacity 200ms ease-in-out;
				}

				&:after {
					content: "";
					background: rgba(#002,.075);
					position: absolute;
					top: 5px;
					left: 5px;
					bottom: 5px;
					width: 13px;
					border-radius: 2px;
				}

				.volume-bar {
					position: relative;
					background: linear-gradient(0deg, #99c2c6 0, #6ecc87 54%, #d6af22 85%, #d15110 100%);
					// border-radius: 1px;
					width: 3px;
					margin: 0 1px;
					overflow: hidden;

					// &:nth-child(1) .volume { transform: translateY(-41%); }
					// &:nth-child(2) .volume { transform: translateY(-43%); }

					.volume {
						position: absolute;
						top: 0;
						left: 0;
						width: 3px;
						height: 100%;
						background: linear-gradient(180deg, #34466f 0%, #21345d 100%);
					}

					.peaker {
						position: absolute;
						top: 0;
						left: 0;
						width: 3px;
						height: 17px;
						background: rgba(#003,.1);
					}
				}

				.peaker-dash {
					background: rgba(#fff,.125);
					position: absolute;
					top: 23px;
					left: 5px;
					height: 3px;
					width: 15px;
				}

				.volume-markers {
					flex: 1;
					position: relative;
					z-index: 1;
					margin: 0 12px 0 6px;
					background: repeating-linear-gradient(180deg,
						rgba(#000,.2) 0px, rgba(#000,.2) 1px, transparent 1px, transparent 17px);

					&:before {
						content: "0 6 12 18 24 30 36 42 48 54 60 66 72 78 ";
						position: absolute;
						top: -7px;
						left: 9px;
						width: 11px;
						bottom: 43px;
						overflow: hidden;
						z-index: 2;
						font-size: 9px;
						line-height: 51px;
						color: #114;
						text-shadow: 0 1px 0 rgba(#fff,.1);
					}

					&:after {
						content: "Inf";
						position: absolute;
						bottom: 7px;
						left: 9px;
						width: 13px;
						font-size: 9px;
						color: #114;
						text-shadow: 0 1px 0 rgba(#fff,.1);
					}
				}
			}
		}

		.dock {
			overflow: hidden;
			opacity: 0;
			height: 0;
			margin-top: 0;
			display: flex;
			transition: height 200ms ease-in-out,
						opacity 200ms ease-in-out;

			.box {
				background: linear-gradient(180deg, #2d416c 0%, #233254 100%);
				flex: 1;

				&:not(:first-child) {
					margin-left: 5px;
				}

				&[data-area="spectrum"] {
					canvas {
						// width: 100%;
						// height: 100%;
					}
				}
			}
		}
	}


	.button {
		background: rgba(#bbe, .25);
		display: inline-block;
		vertical-align: middle;
		padding: 3px 11px 0;
		margin-top: -1px;
		margin-right: 7px;
		font-size: 13px;
		color: rgba(#fff, .85);
		text-shadow: 0 1px 0 rgba(#000, .45);
		border: 1px solid rgba(#002, .45);
		border-radius: 5px;
		opacity: 0.75;
		height: 21px;
		cursor: pointer;

		&.disabled {
			background: rgba(#fff, .175);
			color: rgba(#fff, .5);
			text-shadow: 0 0 0;
			opacity: 0.5;
			cursor: default;
		}

		&.hidden {
			display: none;
		}
	}

	.toggler {
		background: rgba(#fff, .1);
		// background: linear-gradient(90deg, #f00 0%, #f00 50%, #0b0 50%, #0b0 0%);
		width: 90px;
		position: relative;
		display: inline-block;
		vertical-align: middle;
		padding: 0 19px 0 0;
		margin-top: -1px;
		margin-right: 7px;
		font-size: 13px;
		color: rgba(#fff, .6);
		text-shadow: 0 1px 0 rgba(#002, .35);
		border: 1px solid rgba(#002, .25);
		border-radius: 5px;
		// opacity: 0.75;
		height: 21px;
		cursor: pointer;

		&:before,
		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 1px;
			width: 18px;
			height: 18px;
			border-radius: 50%;
			background: url(~/icons/icon-red-cancel.png) 50% 50% no-repeat;
			filter: drop-shadow(0 1px 0 rgba(#002,.24));
			background-size: 12px 12px;
			pointer-events: none;
			z-index: 1;
		}

		&:after {
			left: auto;
			right: 1px;
			background-image: url(~/icons/icon-green-check.png);
		}

		&[data-value="off"] span {
			margin-left: 19px;
		}

		span {
			background: #49608d;
			position: relative;
			width: 69px;
			z-index: 2;
			display: inline-block;
			padding: 3px 0;
			text-align: center;
			border-radius: 4px;
			pointer-events: none;
			transition: margin 120ms ease-in-out;
		}
	}

	.knob {
		position: relative;
		display: inline-block;
		width: 34px;
		height: 34px;
		margin: 1px 3px 0;
		background: url(~/icons/knob.png) no-repeat;
		background-size: 100% auto;
		text-transform: uppercase;
		text-align: center;
		font-size: 10px;
		font-weight: 100;
		color: #69e;
		text-shadow: 0 0 0;
		//background-color: rgba(0,0,0,.1);

		&[data-label]:before {
			content: attr(data-label);
			position: absolute;
			bottom: -3px;
			left: 0;
			right: 0;
			z-index: 3;
			pointer-events: none;
		}

		&[data-title]:before {
			content: attr(data-title);
			position: absolute;
			bottom: -11px;
			left: -11px;
			right: -11px;
			z-index: 3;
			pointer-events: none;
		}

		&[data-value="0"], &[data-value="1"] { background-position: 0 0; } 
		&[data-value="2"], &[data-value="3"] { background-position: 0 -34px; }
		&[data-value="4"], &[data-value="5"] { background-position: 0 -68px; }
		&[data-value="6"], &[data-value="7"] { background-position: 0 -102px; }
		&[data-value="8"], &[data-value="9"] { background-position: 0 -136px; }
		&[data-value="10"], &[data-value="11"] { background-position: 0 -170px; }
		&[data-value="12"], &[data-value="13"] { background-position: 0 -204px; }
		&[data-value="14"], &[data-value="15"] { background-position: 0 -238px; }
		&[data-value="16"], &[data-value="17"] { background-position: 0 -272px; }
		&[data-value="18"], &[data-value="19"] { background-position: 0 -306px; }
		&[data-value="20"], &[data-value="21"] { background-position: 0 -340px; }
		&[data-value="22"], &[data-value="23"] { background-position: 0 -374px; }
		&[data-value="24"], &[data-value="25"] { background-position: 0 -408px; }
		&[data-value="26"], &[data-value="27"] { background-position: 0 -442px; }
		&[data-value="28"], &[data-value="29"] { background-position: 0 -476px; }
		&[data-value="30"], &[data-value="31"] { background-position: 0 -510px; }
		&[data-value="32"], &[data-value="33"] { background-position: 0 -544px; }
		&[data-value="34"], &[data-value="35"] { background-position: 0 -578px; }
		&[data-value="36"], &[data-value="37"] { background-position: 0 -612px; }
		&[data-value="38"], &[data-value="39"] { background-position: 0 -646px; }
		&[data-value="40"], &[data-value="41"] { background-position: 0 -680px; }
		&[data-value="42"], &[data-value="43"] { background-position: 0 -714px; }
		&[data-value="44"], &[data-value="45"] { background-position: 0 -748px; }
		&[data-value="46"], &[data-value="47"] { background-position: 0 -782px; }
		&[data-value="48"], &[data-value="49"] { background-position: 0 -816px; }
		&[data-value="50"], &[data-value="51"] { background-position: 0 -850px; }
		&[data-value="52"], &[data-value="53"] { background-position: 0 -884px; }
		&[data-value="54"], &[data-value="55"] { background-position: 0 -918px; }
		&[data-value="56"], &[data-value="57"] { background-position: 0 -952px; }
		&[data-value="58"], &[data-value="59"] { background-position: 0 -986px; }
		&[data-value="60"], &[data-value="61"] { background-position: 0 -1020px; }
		&[data-value="62"], &[data-value="63"] { background-position: 0 -1054px; }
		&[data-value="64"], &[data-value="65"] { background-position: 0 -1088px; }
		&[data-value="66"], &[data-value="67"] { background-position: 0 -1122px; }
		&[data-value="68"], &[data-value="69"] { background-position: 0 -1156px; }
		&[data-value="70"], &[data-value="71"] { background-position: 0 -1190px; }
		&[data-value="72"], &[data-value="73"] { background-position: 0 -1224px; }
		&[data-value="74"], &[data-value="75"] { background-position: 0 -1258px; }
		&[data-value="76"], &[data-value="77"] { background-position: 0 -1292px; }
		&[data-value="78"], &[data-value="79"] { background-position: 0 -1326px; }
		&[data-value="80"], &[data-value="81"] { background-position: 0 -1360px; }
		&[data-value="82"], &[data-value="83"] { background-position: 0 -1394px; }
		&[data-value="84"], &[data-value="85"] { background-position: 0 -1428px; }
		&[data-value="86"], &[data-value="87"] { background-position: 0 -1462px; }
		&[data-value="88"], &[data-value="89"] { background-position: 0 -1496px; }
		&[data-value="90"], &[data-value="91"] { background-position: 0 -1530px; }
		&[data-value="92"], &[data-value="93"] { background-position: 0 -1564px; }
		&[data-value="94"], &[data-value="95"] { background-position: 0 -1598px; }
		&[data-value="96"], &[data-value="97"] { background-position: 0 -1632px; }
		&[data-value="98"], &[data-value="99"] { background-position: 0 -1666px; }
		&[data-value="100"] { background-position: 0 -1700px; }
	}

	.pan-knob {
		position: relative;
		display: inline-block;
		width: 34px;
		height: 34px;
		margin: 1px 3px 0;
		background: url(~/icons/pan-knob.png) no-repeat;
		background-size: 100% auto;

		&:before {
			content: "";
			position: absolute;
			top: -3px;
			left: 14px;
			border-left: 3px solid transparent;
			border-right: 3px solid transparent;
			border-top: 5px solid #7af;
		}

		&[data-value="-50"], &[data-value="-49"] { background-position: 0 0;  }
		&[data-value="-48"], &[data-value="-47"] { background-position: 0 -34px; }
		&[data-value="-46"], &[data-value="-45"] { background-position: 0 -68px; }
		&[data-value="-44"], &[data-value="-43"] { background-position: 0 -102px; }
		&[data-value="-42"], &[data-value="-41"] { background-position: 0 -136px; }
		&[data-value="-40"], &[data-value="-39"] { background-position: 0 -170px; }
		&[data-value="-38"], &[data-value="-37"] { background-position: 0 -204px; }
		&[data-value="-36"], &[data-value="-35"] { background-position: 0 -238px; }
		&[data-value="-34"], &[data-value="-33"] { background-position: 0 -272px; }
		&[data-value="-32"], &[data-value="-31"] { background-position: 0 -306px; }
		&[data-value="-30"], &[data-value="-29"] { background-position: 0 -340px; }
		&[data-value="-28"], &[data-value="-27"] { background-position: 0 -374px; }
		&[data-value="-26"], &[data-value="-25"] { background-position: 0 -408px; }
		&[data-value="-24"], &[data-value="-23"] { background-position: 0 -442px; }
		&[data-value="-22"], &[data-value="-21"] { background-position: 0 -476px; }
		&[data-value="-20"], &[data-value="-19"] { background-position: 0 -510px; }
		&[data-value="-18"], &[data-value="-17"] { background-position: 0 -544px; }
		&[data-value="-16"], &[data-value="-15"] { background-position: 0 -578px; }
		&[data-value="-14"], &[data-value="-13"] { background-position: 0 -612px; }
		&[data-value="-12"], &[data-value="-11"] { background-position: 0 -646px; }
		&[data-value="-10"], &[data-value="-9"] { background-position: 0 -680px; }
		&[data-value="-8"], &[data-value="-7"] { background-position: 0 -714px; }
		&[data-value="-6"], &[data-value="-5"] { background-position: 0 -748px; }
		&[data-value="-4"], &[data-value="-3"] { background-position: 0 -782px; }
		&[data-value="-2"], &[data-value="-1"] { background-position: 0 -816px; }
		&[data-value="0"] { background-position: 0 -850px; &:before { border-top-color: transparent; } }
		&[data-value="2"], &[data-value="1"] { background-position: 0 -884px; }
		&[data-value="4"], &[data-value="3"] { background-position: 0 -918px; }
		&[data-value="6"], &[data-value="5"] { background-position: 0 -952px; }
		&[data-value="8"], &[data-value="7"] { background-position: 0 -986px; }
		&[data-value="10"], &[data-value="9"] { background-position: 0 -1020px; }
		&[data-value="12"], &[data-value="11"] { background-position: 0 -1054px; }
		&[data-value="14"], &[data-value="13"] { background-position: 0 -1088px; }
		&[data-value="16"], &[data-value="15"] { background-position: 0 -1122px; }
		&[data-value="18"], &[data-value="17"] { background-position: 0 -1156px; }
		&[data-value="20"], &[data-value="19"] { background-position: 0 -1190px; }
		&[data-value="22"], &[data-value="21"] { background-position: 0 -1224px; }
		&[data-value="24"], &[data-value="23"] { background-position: 0 -1258px; }
		&[data-value="26"], &[data-value="25"] { background-position: 0 -1292px; }
		&[data-value="28"], &[data-value="27"] { background-position: 0 -1326px; }
		&[data-value="30"], &[data-value="29"] { background-position: 0 -1360px; }
		&[data-value="32"], &[data-value="31"] { background-position: 0 -1394px; }
		&[data-value="34"], &[data-value="33"] { background-position: 0 -1428px; }
		&[data-value="36"], &[data-value="35"] { background-position: 0 -1462px; }
		&[data-value="38"], &[data-value="37"] { background-position: 0 -1496px; }
		&[data-value="40"], &[data-value="39"] { background-position: 0 -1530px; }
		&[data-value="42"], &[data-value="41"] { background-position: 0 -1564px; }
		&[data-value="44"], &[data-value="43"] { background-position: 0 -1598px; }
		&[data-value="46"], &[data-value="45"] { background-position: 0 -1632px; }
		&[data-value="48"], &[data-value="47"] { background-position: 0 -1666px; }
		&[data-value="50"], &[data-value="49"] { background-position: 0 -1700px; }
	}

	@import "inline-dialog";

}
