
[data-ui="karaqu-light"] {
	.win-caption-toolbar_ .display .toolbar-field_ {
		.total-time,
		.hover-time {
			opacity: .5;

			&:before {
				filter: invert(1) drop-shadow(0 1px 0 rgba(#002,.25));
			}
		}
	}
}

[data-ui="karaqu-dark"] {
	.win-body_ content {
		filter: grayscale(1);
	}
}

[data-ui="royale-beige"] {
	.win-body_ content {
		
	}
}

[data-ui="royale-amber"] {
	.win-body_ content {
		filter: saturate(.75) hue-rotate(165deg) brightness(0.85);

		.area {
			.workarea {
				.waves {
					.cvs-wrapper {
						.file {
							filter: hue-rotate(295deg) saturate(1.25) contrast(1.05) brightness(1.35);

							::part(timeline-notch-ul) {
								color: #985074;
							}

							::part(cursor) {
								filter: hue-rotate(285deg) saturate(1.5) brightness(1.35);
							}
						}
					}
				}
			}
		}
	}
}

[data-ui="royale-black"] {
	.win-body_ content {
		filter: saturate(1.25) hue-rotate(15deg);
	}
}

[data-ui="royale-emerald"] {
	.win-body_ content {
		filter: saturate(.85) hue-rotate(255deg) brightness(0.85);
	}
}

[data-ui="royale-purple"] {
	.win-body_ content {
		filter: saturate(1.35) hue-rotate(65deg);
	}
}

[data-ui="royale-pink"] {
	.win-body_ content {
		filter: saturate(1.15) brightness(1.25) hue-rotate(85deg);
	}
}
