
@bg: #182c40;
@text: #b7cbe0;

.tools-left {
	width: calc(50% - 145px);
	text-align: right;
	
	> div:last-child {
		margin-right: 0;
	}
}

.display {
	width: 250px;
	height: 31px;
	padding-left: 11px;
	padding-right: 11px;

	.toolbar-field_ {
		position: absolute;
		top: -5px;
		left: 11px;
		right: 11px;
		bottom: 0;
		height: auto;
		width: auto;
		z-index: 3;
		background: transparent;
		font-family: Lucida Console, Courier New, Menlo;
		text-transform: uppercase;
		text-shadow: 0 1px 0 rgba(0,0,0,.175);
		border: 0;
		padding: 0;
		box-shadow: 0 0 0;

		&.blank-display {
			.current-time,
			.total-time,
			.hover-time {
				display: none;
			}
		}

		.current-time {
			position: absolute;
			top: 8px;
			left: 17px;
			font-size: 20px;
		}

		.total-time {
			position: absolute;
			top: 5px;
			right: 13px;
			font-size: 11px;
			line-height: 1;
			opacity: .6;

			&:before {
				content: "";
				position: absolute;
				top: -1px;
				left: -17px;
				width: 13px;
				height: 13px;
				opacity: .8;
				background: url(~/icons/icon-time-total.png) 50% 50%/contain no-repeat;
				// filter: drop-shadow(0 1px 0 rgba(#002,.25));
			}
		}

		.hover-time {
			position: absolute;
			top: 19px;
			right: 13px;
			font-size: 11px;
			line-height: 1;
			opacity: .6;

			&:before {
				content: "";
				position: absolute;
				top: -1px;
				left: -17px;
				width: 13px;
				height: 13px;
				opacity: .8;
				background: url(~/icons/icon-time-cursor.png) 50% 50%/contain no-repeat;
				// filter: drop-shadow(0 1px 0 rgba(#002,.25));
			}
		}
	}
}

.tools-right {
	width: calc(50% - 225px);

	&:last-child {
		text-align: left;
	}

	.toolbar-options_ {
		.toolbar-tool_ {
			margin-left: 0;
			margin-right: 0;
		}
	}
}

.toolbar-group_:last-child.empty {
	width: 100px;
}
